body{
    background-image:url(assets/background_login.jpg);
    background-image: cover;
    background-position: center;
   }
 
  
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/background_login.jpg');
    background-size: cover;
    background-position: center;

}

.login-container {
    width: 20%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
   
}

/* Estilo para centrar las etiquetas encima de los campos de entrada */
.input-container {
    margin-bottom: 10px; /* Espaciado entre campos de entrada */
    
}
 label {
    display: block; /* Hace que las etiquetas se muestren como bloques, ocupando toda la línea */
    margin-bottom: 5px; /* Espaciado entre la etiqueta y el campo de entrada */
}
input{
    width: 100%;
}

a{
    text-decoration: none;
    color:darkred;
}
button{
    background-color: black;
    color:white;
    padding: 5px 15px;
    
}
button:hover{
    background-color:grey ;
}
